# ================= NODE =================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ================= ENV =================
.env
server/.env
client/.env

# ================= BUILD =================
dist/
build/

# ================= CLIENT =================
client/node_modules/
client/dist/

# ================= SERVER =================
server/node_modules/

# ================= OS FILES =================
.DS_Store
Thumbs.db

# ================= LOGS =================
logs
*.log